<!DOCTYPE html>
<html>
  <head>
    <title>WorkoutApp5</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <!--<div class="container">-->
      <%= render 'shared/main' %>
      <%= render 'shared/footer' %>
    <!--</div>-->
  </body>
</html>
